body {
    font-family: Arial;
    background: linear-gradient(to right, #4facfe, #00f2fe);
    text-align: center;
    margin: 0;
}

.container {
    margin-top: 100px;
}

.logo {
    width: 120px;
    margin-bottom: 20px;
}

h1, h2 {
    color: white;
}

button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    background: #fff;
    color: #333;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: #333;
    color: white;
}

.form-box {
    background: white;
    padding: 30px;
    width: 300px;
    margin: 100px auto;
    border-radius: 10px;
}

input {
    width: 90%;
    padding: 10px;
    margin: 10px;
}
